/* Enter your custom styles here */
.title {
    background-color: lightblue;
}

.gridDoce {
    background-color: rgb(0, 200, 0);
}

.gridSeis {
    background-color: yellow;
}

.gridCuatro {
    background-color: red;
}

.gridTres {
    background-color: blue;
}

.griDos {
    background-color: orange;
}

.gridUno {
    background-color: violet;
}